Meta-TechHQ Build 1.0 https://github.com/Metacogniton/Meta-TechHQ/releases/download/v1.0/Mybuild.zip https://github.com/Metacogniton/Meta-TechHQ/raw/main/logo.png https://github.com/Metacogniton/Meta-TechHQ/raw/main/fanart.jpg A custom build for Kodi by Meta-TechHQ. false https://github.com/Metacogniton/Meta-TechHQ/raw/main/preview.jpg false false false https://github.com/Metacogniton/Meta-TechHQ/raw/main/icon.png
